:root {
  --white: #ffffff;
  --blue-1: #bcdbff;
  --blue-2: #84aff0;
  --green: #08ac1e;
  --red: #c70000;
  --text-light: #968c84;
  --text-dark: #615954;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--blue-2);
  padding: 2vmin;
  height: 100vh;
}

.container {
  border: solid black 3px;
  margin: 5px;
  padding: 10px;
  border-radius: 25px;
  background-color: var(--blue-1);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 1.25vmin;
  color: var(--text-dark);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--blue-2);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--green);
}

button,
a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--green);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--blue-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

.delete-btn {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--red);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: 0.1vmin solid var(--blue-2);
  border-radius: 0.5vmin;
  outline: none;
  cursor: pointer;
}

button:disabled,
form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--blue-2);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}

p.error-message {
  color: var(--red);
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
}
